# postion ratio

In [ ]:
import pandas as pd
USE_POSITION_RATIO = True
POSITION_RATIO_PATH = "/home/fish/shared/Hackathon_Trading_Bot/freqtrade/user_data/strategies/global_m2_data.csv"

In [174]:
position_ratio = pd.read_csv(POSITION_RATIO_PATH)
position_ratio = position_ratio[position_ratio["Date"] >= "2023-01-01"]
position_ratio.sort_values(by='Date', inplace=True)

In [ ]:
position_ratio.head()

,Date,Price,global_m2,m2_daily_change,PositionRatio,global_m2_change,next_day_price_change
3531,2023-01-01,16606.752043,88973.234064,-60.916616,0.6,NaN,0.004936
3532,2023-01-02,16688.719273,88804.190454,-169.043609,0.6,-0.001900,-0.001117
3533,2023-01-03,16670.077384,89253.394801,449.204347,1.0,0.005058,0.010695
3534,2023-01-04,16848.366039,89091.546738,-161.848063,0.6,-0.001813,-0.001399
3535,2023-01-05,16824.800183,89264.398417,172.851679,1.0,0.001940,0.007909

In [175]:
position_ratio['next_day_price_change'] = position_ratio['Price'].pct_change().shift(-1)

In [176]:
position_ratio["global_m2_change"] = position_ratio["global_m2"].pct_change()

In [177]:
position_ratio["global_m2_change"].describe()

count    1042.000000
mean        0.000143
std         0.001907
min        -0.017492
25%        -0.000321
50%         0.000000
75%         0.000449
max         0.039831
Name: global_m2_change, dtype: float64

In [184]:
risk_days = position_ratio[position_ratio["global_m2_change"] < 0.000143 - 2 * 0.001907]
(risk_days['next_day_price_change'] < 0).mean()

np.float64(0.5)

In [185]:
risk_days

,Date,Price,global_m2,m2_daily_change,PositionRatio,next_day_price_change,global_m2_change
3589,2023-02-28,23145.949128,90957.934104,-1619.400040,0.5,0.020077,-0.017492
3681,2023-05-31,27217.683258,91055.016006,-1473.194858,0.5,-0.014414,-0.015922
3711,2023-06-30,30484.503258,90791.721496,-467.130511,0.5,0.003188,-0.005119
3773,2023-08-31,25954.866594,90557.827134,-805.612193,0.5,-0.005859,-0.008818
3834,2023-10-31,34636.426474,90447.961773,-334.840715,0.5,0.022969,-0.003688
4016,2024-04-30,60749.000000,93693.898421,-395.842296,0.5,-0.040346,-0.004207

In [181]:
risk_days = position_ratio[position_ratio["global_m2_change"] < 0.000143 - 1 * 0.001907]
(risk_days["next_day_price_change"] < 0).mean()

np.float64(0.59375)

In [182]:
risk_days

,Date,Price,global_m2,m2_daily_change,PositionRatio,next_day_price_change,global_m2_change
3532,2023-01-02,16688.719273,88804.190454,-169.043609,0.6,-0.001117,-0.001900
3534,2023-01-04,16848.366039,89091.546738,-161.848063,0.6,-0.001399,-0.001813
3555,2023-01-25,23109.084519,89783.260521,-172.554970,0.6,-0.004344,-0.001918
3562,2023-02-01,23727.202608,93130.183081,-167.064000,0.6,-0.009339,-0.001791
3563,2023-02-02,23505.604843,92941.289231,-188.893850,0.6,-0.002544,-0.002028
3589,2023-02-28,23145.949128,90957.934104,-1619.400040,0.6,0.020077,-0.017492
3595,2023-03-06,22414.703306,90867.063868,-208.633344,0.6,-0.010710,-0.002291
3650,2023-04-30,29362.086797,92607.962332,-217.563261,0.6,-0.042474,-0.002344
3681,2023-05-31,27217.683258,91055.016006,-1473.194858,0.6,-0.014414,-0.015922
3702,2023-06-21,30099.515351,91338.191988,-269.214920,0.6,-0.004884,-0.002939
3709,2023-06-28,30104.043272,91177.264162,-181.918712,0.6,0.011851,-0.001991
3711,2023-06-30,30484.503258,90791.721496,-467.130511,0.6,0.003188,-0.005119
3737,2023-07-26,29361.591758,91021.374413,-207.482398,0.6,-0.005446,-0.002274
3772,2023-08-30,27298.997780,91363.439327,-180.967664,0.6,-0.049237,-0.001977
3773,2023-08-31,25954.866594,90557.827134,-805.612193,0.6,-0.005859,-0.008818
3786,2023-09-13,26226.866752,90415.653756,-232.295423,0.6,0.012552,-0.002563
3814,2023-10-11,26828.172571,90737.380622,-193.744258,0.6,-0.003237,-0.002131
3834,2023-10-31,34636.426474,90447.961773,-334.840715,0.6,0.022969,-0.003688
3863,2023-11-29,37846.853123,91246.208367,-197.299147,0.6,-0.003544,-0.002158
3893,2023-12-29,41733.000000,91876.283150,-234.051315,0.6,0.010328,-0.002541
4016,2024-04-30,60749.000000,93693.898421,-395.842296,0.6,-0.040346,-0.004207
4108,2024-07-31,64680.000000,94833.865412,-238.173210,0.6,0.010482,-0.002505
4206,2024-11-06,75621.000000,96240.010533,-352.010315,0.6,0.004840,-0.003644
4248,2024-12-18,100356.000000,96378.409033,-231.812450,0.6,-0.024961,-0.002399
4294,2025-02-02,97568.000000,97367.009749,-176.097584,0.6,0.039962,-0.001805
4319,2025-02-27,84709.000000,97704.902447,-202.578256,0.6,-0.003152,-0.002069
4373,2025-04-22,92995.000000,100752.191472,-279.125318,0.6,0.006559,-0.002763
4374,2025-04-23,93605.000000,100501.823566,-250.367906,0.6,0.002863,-0.002485
4393,2025-05-12,102877.000000,100358.110092,-212.482676,0.6,0.012704,-0.002113
4411,2025-05-30,104011.000000,100702.139564,-195.529126,0.6,0.006509,-0.001938
4470,2025-07-28,118003.000000,102346.809959,-269.868705,0.6,-0.001271,-0.002630
4472,2025-07-30,117833.000000,102048.828348,-225.124244,0.6,-0.018102,-0.002201

In [186]:
position_ratio["PositionRatio"] = position_ratio["global_m2_change"].apply(lambda x: 0.5 if x < 0.000143 - 1 * 0.001907 else 1)

In [ ]:
position_ratio.to_csv("/home/fish/shared/Hackathon_Trading_Bot/freqtrade/user_data/strategies/global_m2_data_1.csv")

In [166]:
risk_days = position_ratio[position_ratio["global_m2_change"] < 0.000143 - 0.5 * 0.001907]
(risk_days["next_day_price_change"] < 0).mean()

np.float64(0.5315315315315315)

In [172]:
position_ratio["predict"] = position_ratio["global_m2"] / position_ratio["global_m2"].rolling(window=3).mean() - 1
position_ratio["predict"] = position_ratio["predict"].apply(lambda x: 0 if x < 0 else 1)
(position_ratio.dropna()["predict"] == position_ratio.dropna()["label"]).mean()

KeyError: 'label'

In [138]:
# 计算predict==label的比例
position_ratio["predict"] = position_ratio["global_m2"].pct_change() - 1
position_ratio["predict"] = position_ratio["predict"].apply(lambda x: 0 if x < 0 else 1)
(position_ratio.dropna()["predict"] == position_ratio.dropna()["label"]).mean()

np.float64(0.4721189591078067)

In [131]:
(position_ratio['global_m2'] / position_ratio['global_m2'].rolling(window=7).mean() - 1).corr(position_ratio["Price"].pct_change().shift(-1), method="spearman")

np.float64(0.039470410090308466)

In [132]:
(position_ratio["global_m2"] / position_ratio["global_m2"].rolling(window=7).mean() - 1).describe()

count    4568.000000
mean        0.000336
std         0.002783
min        -0.023184
25%        -0.000679
50%         0.000091
75%         0.000912
max         0.034899
Name: global_m2, dtype: float64

In [122]:
((position_ratio["Price"] - position_ratio["global_m2"]) / position_ratio["global_m2"]).corr(
    position_ratio["Price"].pct_change().shift(-1), method="spearman"
)

np.float64(-0.03570334966973307)

In [93]:
position_ratio["global_m2"].pct_change().corr(position_ratio["Price"].pct_change().shift(-1), method="spearman")

np.float64(0.021812851620083954)

In [24]:
# 计算每天global_m2减去过去120天的均值
position_ratio['global_m2_120d_mean'] = position_ratio['global_m2'].rolling(window=120).mean()
position_ratio['global_m2_deviation'] = position_ratio['global_m2'] / position_ratio['global_m2_120d_mean'] - 1 
position_ratio.tail()

,Date,Price,global_m2,m2_daily_change,PositionRatio,global_m2_120d_mean,global_m2_deviation
4569,2025-11-04,101635.0,102893.989736,-46.891657,0.6,102802.018159,0.000895
4570,2025-11-05,103878.0,102932.543478,38.553742,1.0,102805.959659,0.001231
4571,2025-11-06,101323.0,103018.313326,85.769848,1.0,102810.154691,0.002025
4572,2025-11-07,103396.0,103052.594086,34.280760,1.0,102814.740817,0.002313
4573,2025-11-08,102290.0,103047.855793,-4.738293,0.6,102819.430453,0.002222

In [26]:
position_ratio.dropna()["global_m2_deviation"].describe()

count    923.000000
mean       0.007195
std        0.008351
min       -0.014122
25%        0.003622
50%        0.008244
75%        0.012094
max        0.031430
Name: global_m2_deviation, dtype: float64

In [27]:
position_ratio['price_change'] = position_ratio['Price'] / position_ratio['Price'].shift(1) - 1

In [29]:
position_ratio["global_m2_deviation"].corr(position_ratio["price_change"].shift(-1), method="pearson")

np.float64(0.025619101460107735)

In [32]:
position_ratio["global_m2_deviation"].corr(position_ratio["price_change"].shift(-1), method="spearman")

np.float64(0.03172221178727465)

In [33]:
df = position_ratio.copy()

In [62]:
df['m2_14d_mean'] = df['global_m2'].rolling(window=7).mean()
df['m2_60d_mean'] = df['global_m2'].rolling(window=120).mean()
df['m2_change'] = df['m2_14d_mean'] / df['m2_60d_mean'] - 1
df["m2_change"].corr(df["price_change"].shift(-1), method="spearman")

np.float64(0.028545752665693633)

In [96]:
df["m2_14d_mean"] = df["global_m2"].rolling(window=1).mean()
df["m2_60d_mean"] = df["global_m2"].rolling(window=14).mean()
df["m2_change"] = df["m2_14d_mean"] / df["m2_60d_mean"] - 1
df["m2_change"].corr(df["price_change"].shift(-1), method="spearman")

np.float64(0.061614782888719626)

In [54]:
df["m2_change"] = df["global_m2"].pct_change(14)
df["m2_change"].corr(df["price_change"].shift(-1), method="spearman")

np.float64(0.05755695640542952)

In [55]:
df["m2_change"] = df["global_m2"].pct_change(30)
df["m2_change"].corr(df["price_change"].shift(-1), method="spearman")

np.float64(0.00848355472880275)

In [56]:
df["m2_change"] = df["global_m2"].pct_change(60)
df["m2_change"].corr(df["price_change"].shift(-1), method="spearman")

np.float64(0.026760755788577985)

In [57]:
df["m2_change"] = df["global_m2"].pct_change(120)
df["m2_change"].corr(df["price_change"].shift(-1), method="spearman")

np.float64(0.023475680497122568)

In [34]:
df.head()

,Date,Price,global_m2,m2_daily_change,PositionRatio,global_m2_120d_mean,global_m2_deviation,price_change
3532,2023-01-02,16688.719273,88804.190454,-169.043609,0.6,NaN,NaN,NaN
3533,2023-01-03,16670.077384,89253.394801,449.204347,1.0,NaN,NaN,-0.001117
3534,2023-01-04,16848.366039,89091.546738,-161.848063,0.6,NaN,NaN,0.010695
3535,2023-01-05,16824.800183,89264.398417,172.851679,1.0,NaN,NaN,-0.001399
3536,2023-01-06,16957.862274,89298.619417,34.221000,1.0,NaN,NaN,0.007909

In [37]:
window = 120  # 可以用30天、60天等
df["m2_rolling_mean"] = df["global_m2"].rolling(window=window).mean()
df["m2_rolling_std"] = df["global_m2"].rolling(window=window).std()
df["m2_zscore"] = (df["global_m2"] - df["m2_rolling_mean"]) / df["m2_rolling_std"]
df["m2_zscore"].corr(df["price_change"].shift(-1), method="spearman")

np.float64(0.027538889096771303)

In [39]:
df['global_m2'].corr(df['Price'].shift(-1), method="spearman")

np.float64(0.9276976301705887)

In [44]:
# 首先正确定义目标变量
df["btc_return_next_day"] = df["Price"].pct_change().shift(-1)  # 次日收益率

# 方法1：最直接的构造方法（应该优先尝试）
df["predicted_return"] = (df["global_m2"] - df["Price"]) / df["Price"]
corr_direct = df["predicted_return"].corr(df["btc_return_next_day"])
print(f"直接差值法相关性: {corr_direct:.4f}")

# 方法2：使用原始值计算，然后标准化结果
df["predicted_return_raw"] = (df["global_m2"] - df["Price"]) / df["Price"]
# 对最终预测值进行标准化，而不是对输入标准化
df["predicted_return_normalized"] = (df["predicted_return_raw"] - df["predicted_return_raw"].rolling(60).mean()) / df[
    "predicted_return_raw"
].rolling(60).std()

corr_normalized = df["predicted_return_normalized"].corr(df["btc_return_next_day"])
print(f"结果标准化法相关性: {corr_normalized:.4f}")

# 方法3：比率法（更稳健）
df["m2_price_ratio"] = df["global_m2"] / df["Price"]
df["predicted_return_ratio"] = df["m2_price_ratio"] - df["m2_price_ratio"].shift(1)  # 比率的变化

corr_ratio = df["predicted_return_ratio"].corr(df["btc_return_next_day"])
print(f"比率变化法相关性: {corr_ratio:.4f}")

直接差值法相关性: 0.0600
结果标准化法相关性: -0.0021
比率变化法相关性: 0.0040

In [45]:
# 首先正确定义目标变量
df["btc_return_next_day"] = df["Price"].pct_change().shift(-1)  # 次日收益率

# 方法1：最直接的构造方法（应该优先尝试）
df["predicted_return"] = (df["global_m2"] - df["Price"]) / df["Price"]
corr_direct = df["predicted_return"].corr(df["btc_return_next_day"], method="spearman")
print(f"直接差值法相关性: {corr_direct:.4f}")

# 方法2：使用原始值计算，然后标准化结果
df["predicted_return_raw"] = (df["global_m2"] - df["Price"]) / df["Price"]
# 对最终预测值进行标准化，而不是对输入标准化
df["predicted_return_normalized"] = (df["predicted_return_raw"] - df["predicted_return_raw"].rolling(60).mean()) / df[
    "predicted_return_raw"
].rolling(60).std()

corr_normalized = df["predicted_return_normalized"].corr(df["btc_return_next_day"], method="spearman")
print(f"结果标准化法相关性: {corr_normalized:.4f}")

# 方法3：比率法（更稳健）
df["m2_price_ratio"] = df["global_m2"] / df["Price"]
df["predicted_return_ratio"] = df["m2_price_ratio"] - df["m2_price_ratio"].shift(1)  # 比率的变化

corr_ratio = df["predicted_return_ratio"].corr(df["btc_return_next_day"], method="spearman")
print(f"比率变化法相关性: {corr_ratio:.4f}")

直接差值法相关性: 0.0570
结果标准化法相关性: 0.0041
比率变化法相关性: 0.0731

# Roostoo

In [2]:
from roostoo_trade_client import RoostooAPIClient

In [3]:
api_client = RoostooAPIClient()

2025-11-13 10:43:16,111 - Roostoo - INFO - RoostooAPIClient initialized, account net value: 49426.026840000006

In [4]:
api_client.get_balance()

{'Success': True,
 'ErrMsg': '',
 'SpotWallet': {'FET': {'Free': 74071.6, 'Lock': 0},
  'USD': {'Free': 26100.88, 'Lock': 0}},
 'MarginWallet': {}}

In [ ]:
api_client.wrapped_sell("FET/USD")

In [13]:
for k,v in api_client.get_balance()['SpotWallet'].items():
    if k!='USD':
        api_client.wrapped_sell(k+'/USD')

2025-11-10 13:59:45,340 - Roostoo - INFO - Placed AVNT/USD SELL order for 2728.7
 Result: {'Success': True, 'ErrMsg': '', 'OrderDetail': {'Pair': 'AVNT/USD', 'OrderID': 2363204, 'Status': 'FILLED', 'Role': 'TAKER', 'ServerTimeUsage': 0.007000486, 'CreateTimestamp': 1762754385025, 'FinishTimestamp': 1762754385032, 'Side': 'SELL', 'Type': 'MARKET', 'StopType': 'GTC', 'Price': 0.5515, 'Quantity': 2728.7, 'FilledQuantity': 2728.7, 'FilledAverPrice': 0.5515, 'CoinChange': 2728.7, 'UnitChange': 1504.8780499999998, 'CommissionCoin': 'USD', 'CommissionChargeValue': 1.504878, 'CommissionPercent': 0.001, 'OrderWalletType': 'SPOT', 'OrderSource': 'PUBLIC_API'}}
2025-11-10 13:59:45,836 - Roostoo - INFO - Placed BONK/USD SELL order for 113018023
 Result: {'Success': True, 'ErrMsg': '', 'OrderDetail': {'Pair': 'BONK/USD', 'OrderID': 2363205, 'Status': 'FILLED', 'Role': 'TAKER', 'ServerTimeUsage': 0.005277481, 'CreateTimestamp': 1762754385509, 'FinishTimestamp': 1762754385515, 'Side': 'SELL', 'Type': 'MARKET', 'StopType': 'GTC', 'Price': 1.334e-05, 'Quantity': 113018023, 'FilledQuantity': 113018023, 'FilledAverPrice': 1.334e-05, 'CoinChange': 113018023, 'UnitChange': 1507.6604268199999, 'CommissionCoin': 'USD', 'CommissionChargeValue': 1.50766, 'CommissionPercent': 0.001, 'OrderWalletType': 'SPOT', 'OrderSource': 'PUBLIC_API'}}
2025-11-10 13:59:46,271 - Roostoo - INFO - Sell EDEN/USD failed
 Result: {'Success': False, 'ErrMsg': 'minimal order is 1.000000 USD'}
2025-11-10 13:59:47,022 - Roostoo - INFO - Sell ETH/USD failed
 Result: {'Success': False, 'ErrMsg': 'minimal order is 1.000000 USD'}
2025-11-10 13:59:47,465 - Roostoo - INFO - Placed PAXG/USD SELL order for 0.371
 Result: {'Success': True, 'ErrMsg': '', 'OrderDetail': {'Pair': 'PAXG/USD', 'OrderID': 2363206, 'Status': 'FILLED', 'Role': 'TAKER', 'ServerTimeUsage': 0.006784531, 'CreateTimestamp': 1762754387063, 'FinishTimestamp': 1762754387070, 'Side': 'SELL', 'Type': 'MARKET', 'StopType': 'GTC', 'Price': 4066, 'Quantity': 0.371, 'FilledQuantity': 0.371, 'FilledAverPrice': 4066, 'CoinChange': 0.371, 'UnitChange': 1508.4859999999999, 'CommissionCoin': 'USD', 'CommissionChargeValue': 1.508486, 'CommissionPercent': 0.001, 'OrderWalletType': 'SPOT', 'OrderSource': 'PUBLIC_API'}}